﻿@model IEnumerable<AlwakeelDomainLayer.ACSubDomainView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="#" class="btn btn-primary" onclick="addSubCategory(0)"><i class="fa fa-plus"></i></a>
</p>
<table id="datatable" class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.AcSNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcSNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACatNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACatNameEn)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.AcSNameEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcSNameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACatNameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACatNameEn)
                </td>

                <td>
                    <a href="#" onclick="addSubCategory(@item.AcSubId)" class="btn btn-warning"><i class="fa fa-pencil-alt"></i></a>
                    <a href="/AccessoryCategory/SubCategores/Delete?id=@item.AcSubId" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Main Category</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

           var addSubCategory = function (id) {
            var url = "/AccessoryCategory/SubCategores/AddEdit?id=" + id;
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        };


        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}