﻿@model AlwakeelDomainLayer.RentCarDomain
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "RentCars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <h6>Brand Info</h6>
        <hr />
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select id="CatId" name="CatId" class="chosen-select form-control">
                        @foreach (var item in ViewBag.Category)
                        {
                            <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="form-group">
                    <label class="control-label  ">Brand</label>
                    <select id="BrandId" name="BrandId" class="chosen-select form-control barc" required></select>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Class</label>
                    <select id="CarClassId" name="CarClassId" class="chosen-select form-control" required></select>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <select id="ModelId" name="ModelId" class="chosen-select form-control" required></select>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Car Image</label>
                    <input id="File" name="File" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Business</label>
                    <select id="businessId" name="businessId" class="chosen-select form-control">
                        @foreach (var item in ViewBag.Business)
                        {
                            <option value="@item.BusinessId">@item.BusinessNameEn - @item.BusinessNameAR</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script src="~/assets/select2/dist/js/select2.full.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">

        $(document).ready(function () {
            var catId = $('#CatId').val();
            getBrand(catId);
        });

        // On change Category
        $("#CatId").change(function () {
            $('#BrandId').empty();
            var CatId = $('#CatId').val();
            getBrand(CatId);
        });
        $("#BrandId").change(function () {
            $('#CarClassId').empty();
            var BrandId = $('#BrandId').val();
            getClass(BrandId);
        });
        $("#CarClassId").change(function () {
            $('#ModelId').empty();
            var carClass = $('#CarClassId').val();
            getModel(carClass);
        });




        function getBrand(catId) {
            $.get("/AdsModels/Vehicles/GetBrandList?CatId=" + catId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#BrandId').append('<option value="' + data[i].BrandId + '">' + data[i].BrandNameEn + '-' + data[i].BrandNameAr + '</option>');
                }

                $('#CarClassId').empty();
                var BrandId = $('#BrandId').val();
                getClass(BrandId);
            });
        };

        var getClass = function (BrandId) {

            $.get("/AdsModels/Vehicles/GetClassList?BrandId=" + BrandId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#CarClassId').append('<option value="' + data[i].CarClassId + '">' + data[i].CarClassNameEn + '-' + data[i].CarClassNameAr + '</option>');
                }
                $('#ModelId').empty();
                var carclass = $('#CarClassId').val();
                getModel(carclass);
            });

        };

        var getModel = function (carclass) {

            $.get("/AdsModels/Vehicles/GetModel?CarClassId=" + carclass, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#ModelId').append('<option value="' + data[i].ModelId + '">' + data[i].ModelYears + '</option>');
                }

                $("#Features").empty();
                var ModelId = $('#ModelId').val();
                getFeatures(ModelId);
            });

        };

        var getFeatures = function (ModelId) {

            $.get("/AdsModels/Vehicles/getFeatures?modelId=" + ModelId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#Features').append('<option value="' + data[i].SpeId + '">' + data[i].SpeAr + " - " + data[i].SpeEn + '</option>');
                }
            });

        };


        //file upload size limit validation in javascript
        $('#ImageFileOne').bind('change', function () {
            var imagehree = $("#ImageFileOne").val();
            Filevalidation(imagehree);

        });


        //file upload size limit validation in javascript
        $('#ImageFileTow').bind('change', function () {
            var imagehree = $("#ImageFileTow").val();
            Filevalidation(imagehree);

        });

        //file upload size limit validation in javascript
        $('#ImageFilethree').bind('change', function () {
            var imagehree = $("#ImageFilethree").val();
            Filevalidation(imagehree);

        });

        //file upload size limit validation in javascript
        $('#ImageFileFor').bind('change', function () {
            var imagehree = $("#ImageFileFor").val();
            Filevalidation(imagehree);

        });


        $("#BrandId ,#CarClassId,#CatId,#ModelId,#businessId").select2({

        });

        //file upload size limit validation in javascript
        var Filevalidation = function (fi) {

            // Check if any file is selected.
            if (fi.files.length > 0) {
                for (const i = 0; i <= fi.files.length - 1; i++) {

                    const fsize = fi.files.item(i).size;
                    const file = Math.round((fsize / 1024));
                    // The size of the file.
                    if (file >= 4096) {
                        alert(
                            "File too Big, please select a file less than 4mb");
                    } else if (file < 2048) {
                        alert(
                            "File too small, please select a file greater than 2mb");
                    } else {
                        document.getElementById('size').innerHTML = '<b>'
                            + file + '</b> KB';
                    }
                }
            }
        }
    </script>
}
