﻿@model IEnumerable<AlwakeelDomainLayer.ACMainDomain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="/AccessoryCategory/MainCategores/Create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
</p>
<table id="datatable" class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ACatNameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACatNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACatIcon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ACatNameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACatNameEn)
                </td>
                <td>
                    <img src="@item.ACatIcon" width="40"/>
                </td>
                <td>
                    <a href="/AccessoryCategory/MainCategores/Delete?id=@item.ACatId" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}