﻿@model AlwakeelDomainLayer.BusinessBrandDoamin
<link href="~/assets/loading.css" rel="stylesheet" />
<form id="formBbrand">

    <div class="loading" id="loading" hidden>Loading&#8230;</div>

    <div class="form-group">
        <label class="control-label">Brand</label>
        <select id="BrandId" name="BrandId" class="chosen-select form-control" style="width:100%">
            @foreach (var item in ViewBag.Brands)
            {
                <option value="@item.BrandId"> @item.BrandNameEn - @item.CatNameEn </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Business</label>
        <select id="BusinessId" name="BusinessId" class="chosen-select form-control" style="width:100%">
            @foreach (var item in ViewBag.Business)
            {
                <option value="@item.BusinessId"> @item.BusinessNameAR - @item.BusinessNameEn  </option>
            }
        </select>
    </div>



    <div class="form-group">
        <button type="submit" id="btnSubmitBbrand" class="btn btn-primary btn-block">
            <span>Save</span>
        </button>
    </div>
</form>

<script src="~/assets/select2/dist/js/select2.full.min.js"></script>


    <script>
        $("#btnSubmitBbrand").click(function () {
            $("#formBbrand").validate({
                rules: {

                    BusinessId: "required",
                    BrandId: "required",
                    BusinessId: {
                        required: true,
                    },


                    BrandId: {
                        required: true,
                    },
                },
                messages: {

                    BusinessId: {
                        required: "Please select  Business",
                    },
                    BrandId: {
                        required: "Please select Brand ",
                    }
                },
                errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
                highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
                unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
                submitHandler: function (form) {
                    $("#loading").show();
                    var myformdata = $("#formBbrand").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/BusinessModels/BuBrand/Create",
                        data: myformdata,
                        success: function (res) {
                            alert(res);
                            $("#myModal").modal("hide");
                            window.location.href = "/BusinessModels/BuBrand/Index";
                        }

                    })
                }
            });
        });


        $("#BrandId ,#BusinessId").select2({

        });
    </script>


