﻿@model IEnumerable<AlwakeelDomainLayer.SpecificationDomain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a href="/BrandModels/GeneralSpecifications/Create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
</p>
<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEn)
                </td>
                <td>
                    <img src="@item.Icons" width="40" />
                </td>
                <td>
                    <a href="/BrandModels/GeneralSpecifications/Delete?id=@item.Id" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
        });
    </script>
}
