﻿@model AlwakeelDomainLayer.VideoDomain

<link href="~/assets/loading.css" rel="stylesheet" />
<form id="formvideo">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="form-horizontal">

        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.VideoNameAr, htmlAttributes: new { @class = "control-label " })
         
                @Html.EditorFor(model => model.VideoNameAr, new { htmlAttributes = new { @class = "form-control" } })
              
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoNameEn, htmlAttributes: new { @class = "control-label " })
         
                @Html.EditorFor(model => model.VideoNameEn, new { htmlAttributes = new { @class = "form-control" } })
               
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VideoUrl, htmlAttributes: new { @class = "control-label " })
          
                @Html.EditorFor(model => model.VideoUrl, new { htmlAttributes = new { @class = "form-control" } })
              
        </div>



        <div class="form-group">
            <button type="submit" id="btnSubmitVideo" class="btn btn-primary btn-block">
                <span>Save</span>
            </button>
        </div>
    </div>
</form>

    <script>
        $("#btnSubmitVideo").click(function () {
            $("#formvideo").validate({
                rules: {
                    VideoNameAr: "required",
                    VideoNameEn: "required",
                    BrandId: "required",
                    VideoNameAr: {
                        required: true,
                    },

                    VideoNameEn: {
                        required: true,
                    },
                    VideoUrl: {
                        required: true,
                    },
                },
                messages: {
                    VideoNameAr: {
                        required: "Please enter video  Name Arabic",
                    },
                    VideoNameEn: {
                        required: "Please enter video  Name English",
                    },
                    VideoUrl: {
                        required: "Please enter Video Url Brand Name ",
                    }
                },
                errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
                highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
                unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
                submitHandler: function (form) {
                    $("#loading").show();
                    var myformdata = $("#formvideo").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/AdsModels/YouTubeVideos/Create",
                        data: myformdata,
                        success: function (res) {
                            alert(res);
                            $("#myModal").modal("hide");
                            window.location.href = " /AdsModels/YouTubeVideos/Index";
                        }

                    })
                }
            });
        });


    </script>
