﻿@model AlwakeelDomainLayer.ContactMediaDomain

<link href="~/assets/loading.css" rel="stylesheet" />
<form id="contactMedia">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="form-horizontal">


        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label " })
            <select id="Type" name="Type" class="form-control">
                <option value="facebook">facebook</option>
                <option value="Phone Number">Phone Number</option>
                <option value="Whatsapp Number">Whatsapp Number</option>
                <option value="Twitter">Twitter</option>
                <option value="Web Site">Web Site</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label ">Business</label>
            <select id="BusinessId" name="BusinessId" class="form-control">
                @foreach (var item in ViewBag.BModel)
                {
                    <option value="@item.BusinessId">@item.BusinessNameEn - @item.BusinessNameAR</option>
                }
            </select>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.contact, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <button type="submit" id="btnSubmitcontactMedia" class="btn btn-primary btn-block">
                <span>Save</span>
            </button>
        </div>
    </div>
</form>

<script>
    $("#btnSubmitcontactMedia").click(function () {
          var number = $("#Type").val();
                var contact = $("#contact").val();
                if (number == "Phone Number" && contact.length != 9) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "Sorry, the phone number must be 9 digits",
                        footer: '<a href>Why do I have this issue?</a>',
                        timer: 1900
                    });

                    window.location.href = "/BusinessModels/ContactsMedia/Index";
                }
        $("#contactMedia").validate({
            rules: {
                contact: "required",
                contact: {
                    required: true,
                },
            },
            messages: {
                contact: {
                    required: "Please enter contact  Arabic",
                },
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {

              

                $("#loading").show();
                var myformdata = $("#contactMedia").serialize();
                $.ajax({
                    type: "POST",
                    url: "/BusinessModels/ContactsMedia/Create",
                    data: myformdata,
                    success: function (res) {
                        alert(res);
                        $("#myModal").modal("hide");
                        window.location.href = "/BusinessModels/ContactsMedia/Index";
                    }

                })
            }
        });
    });


    // On change Category
    $("#Type").change(function () {
        debugger
       
         var number = $("#Type").val();
        if (number == "Phone Number")
        {
             alert("Phone Number : 1xxxxxxx or 9xxxxxxxx");
            $("contact").attr("placeholder", "Phone Number : 1xxxxxxx or 9xxxxxxxx");
        }
      
    });

</script>