﻿@model AlwakeelDomainLayer.CarClassDomain
<link href="~/assets/loading.css" rel="stylesheet" />
<form id="carClass">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="">

        @Html.HiddenFor(model => model.CarClassId)

        <div class="form-group">
            <label class="control-label">Class Name Arabic </label>
            @Html.EditorFor(model => model.CarClassNameAr, new { htmlAttributes = new { @class = "form-control" } })

        </div>

        <div class="form-group">
            <label class="control-label">Class Name English </label>
            @Html.EditorFor(model => model.CarClassNameEn, new { htmlAttributes = new { @class = "form-control" } })

        </div>



        <div class="form-group">
            <label class="control-label">Category</label>
            <select id="CatId" name="CatId" class="chosen-select form-control">
                @foreach (var item in ViewBag.Cat)
                {
                    <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Brand</label>
            <select id="BrandId" name="BrandId" class="chosen-select form-control">
            </select>
        </div>

        <div class="form-group">
            <button type="submit" id="btnSubmitClass" class="btn btn-primary btn-block">
                @if (Model.CarClassId > 0)
                {<span>Edit</span> }
                else
                {<span>Save</span>}
            </button>
        </div>
    </div>
</form>



<script>
    $("#btnSubmitClass").click(function () {
        $("#carClass").validate({
            rules: {
                CarClassNameAr: "required",
                CarClassNameEn: "required",
                BrandId: "required",
                CarClassNameEn: {
                    required: true,
                },

                CarClassNameEn: {
                    required: true,
                },
                BrandId: {
                    required: true,
                },
            },
            messages: {
                CarClassNameAr: {
                    required: "Please enter Class  Name Arabic",
                },
                CarClassNameEn: {
                    required: "Please enter Class  Name English",
                },
                BrandId: {
                    required: "Please select Class Brand Name ",
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#carClass").serialize();
                $.ajax({
                    type: "POST",
                    url: "/BrandModels/CarsClass/AddEditC",
                    data: myformdata,
                    success: function (res) {
                        if (res == "Saved" || res == "Update") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: res,
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#myModal").modal("hide");
                            window.location.href = "/BrandModels/CarsClass/Index";
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res,
                                footer: '<a href>Why do I have this issue?</a>'
                            });
                        }
                    }

                })
            }
        });
    });



    // On change Category
    $("#CatId").change(function () {
        $('#BrandId').empty();
        var CatId = $('#CatId').val();
        $.get("/BrandModels/CarsClass/GetBrand?CatId=" + CatId, function (data, status) {
            for (var i = 0; i < data.length; i++) {
                $('#BrandId').append('<option value="' + data[i].BrandId + '">' + data[i].BrandNameEn + '-' + data[i].BrandNameAr + '</option>');
            }
        });
    });
</script>
