﻿@model AlwakeelDomainLayer.AccessoryDetailsDomain

@{
    ViewBag.Title = "CrateModels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.PId)

    <div class="form-horizontal">
        @Html.HiddenFor(x => x.PId)
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select id="CatId" name="CatId" class="chosen-select form-control">
                        @foreach (var item in ViewBag.Category)
                        {
                            <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="form-group">
                    <label class="control-label  ">Brand</label>
                    <select id="BrandId" name="BrandId" class="chosen-select form-control barc" required></select>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Class</label>
                    <select id="CarClassId" name="CarClassId" class="chosen-select form-control" required></select>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <select id="ModelId" name="ModelId" class="chosen-select form-control" required></select>
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<div class="row">
    <table id="datatable" class="table">
        <tr>
            <th>
                Brand Name
            </th>


            <th>
                Class Name
            </th>

            <th>
                Model Years
            </th>

            <th></th>
        </tr>

        @foreach (var item in ViewBag.accessoriesModels)
        {
            <tr>

                <td>
                    @item.BrandNameEN
                </td>

                <td>
                    @item.ClassNameEN
                </td>

                <td>
                    @item.ModelYears
                </td>

                <td>
                    <a href="/AdsModels/Accessories/DeleteModels?Id=@item.Id" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                </td>
            </tr>
        }

    </table>
</div>

<script src="~/assets/select2/dist/js/select2.full.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">

        $(document).ready(function () {
            var catId = $('#CatId').val();
            getBrand(catId);
        });

        // On change Category
        $("#CatId").change(function () {
            $('#BrandId').empty();
            var CatId = $('#CatId').val();
            getBrand(CatId);
        });
        $("#BrandId").change(function () {
            $('#CarClassId').empty();
            var BrandId = $('#BrandId').val();
            getClass(BrandId);
        });
        $("#CarClassId").change(function () {
            $('#ModelId').empty();
            var carClass = $('#CarClassId').val();
            getModel(carClass);
        });




        function getBrand(catId) {
            $.get("/AdsModels/Vehicles/GetBrandList?CatId=" + catId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#BrandId').append('<option value="' + data[i].BrandId + '">' + data[i].BrandNameEn + '-' + data[i].BrandNameAr + '</option>');
                }

                $('#CarClassId').empty();
                var BrandId = $('#BrandId').val();
                getClass(BrandId);
            });
        };

        var getClass = function (BrandId) {

            $.get("/AdsModels/Vehicles/GetClassList?BrandId=" + BrandId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#CarClassId').append('<option value="' + data[i].CarClassId + '">' + data[i].CarClassNameEn + '-' + data[i].CarClassNameAr + '</option>');
                }
                $('#ModelId').empty();
                var carclass = $('#CarClassId').val();
                getModel(carclass);
            });

        };

        var getModel = function (carclass) {

            $.get("/AdsModels/Vehicles/GetModel?CarClassId=" + carclass, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#ModelId').append('<option value="' + data[i].ModelId + '">' + data[i].ModelYears + '</option>');
                }
            });

        };



        $("#BrandId ,#CarClassId,#CatId,#ModelId").select2({

        });

      
    </script>
}
