﻿@model AlwakeelDomainLayer.AccessoryDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        width: 100%;
    }
</style>
@using (Html.BeginForm("Create", "Accessories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal">

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Category</label>
                <select id="CatId" name="CatId" class="chosen-select form-control">
                    @foreach (var item in ViewBag.Category)
                    {
                        <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label">Main Accessories Category </label>
                <select id="ACatId" name="ACatId" class="chosen-select form-control">
                    @foreach (var item in ViewBag.CatMains)
                    {
                        <option value="@item.ACatId">@item.ACatNameAr - @item.ACatNameEn</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Sub Accessories Category</label>
                    <select id="AcSubId" name="AcSubId" class="chosen-select form-control" required></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.AccessoryTitleEN, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.AccessoryTitleEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccessoryTitleEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.AccessoryTitleAR, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.AccessoryTitleAR, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccessoryTitleAR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.AdPrice, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.AdPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdPrice, "", new { @class = "text-danger" })
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.AccessoryForAll, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.AccessoryForAll, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccessoryForAll, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.isNew, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.isNew, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isNew, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DescribeAR, htmlAttributes: new { @class = "control-label " })
        @Html.TextAreaFor(model => model.DescribeAR, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DescribeAR, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DescribeEN, htmlAttributes: new { @class = "control-label " })
        @Html.TextAreaFor(model => model.DescribeEN, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DescribeEN, "", new { @class = "text-danger" })
    </div>



    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">First picture</label>
                <input id="ImageFileOne" name="ImageFileOne" accept="image/x-png,image/gif,image/jpeg" type="file" required>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Second  Picture</label>
                <input id="ImageFileTow" name="ImageFileTow" accept="image/x-png,image/gif,image/jpeg" type="file" required>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Third   Picture</label>
                <input id="ImageFilethree" name="ImageFilethree" accept="image/x-png,image/gif,image/jpeg" type="file" required>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="control-label">Fourth   Picture</label>
                <input id="ImageFileFor" name="ImageFileFor" accept="image/x-png,image/gif,image/jpeg" type="file" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Business</label>
        <select id="businessId" name="businessId" class="chosen-select form-control">
            @foreach (var item in ViewBag.Business)
            {
                <option value="@item.BusinessId">@item.BusinessNameEn - @item.BusinessNameAR</option>
            }
        </select>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/assets/select2/dist/js/select2.full.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var MId = $("#ACatId").val();
            getAccessories(MId);
        });
        /// chang
        $("#ACatId").change(function () {
            $('#AcSubId').empty();
            var MId = $("#ACatId").val();
            getAccessories(MId);
        });
        var getAccessories = function (MId) {
            $.get("/AdsModels/Accessories/GetSubAccessory?MId=" + MId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#AcSubId').append('<option value="' + data[i].AcSubId + '">' + data[i].AcSNameAr + " - " + data[i].AcSNameEn + '</option>');
                }
            });
        };
         $("#businessId,#AcSubId,#ACatId,#CatId").select2({

        });
    </script>
}