﻿@model IEnumerable<AlwakeelDomainLayer.AccessoryViewDomain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="/AdsModels/Accessories/Create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
</p>

<table id="datatable" class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>

            <th>
              AccessoryTitle
            </th>
            <th>
                Main Accessories Type
            </th>

            <th>
                Sub Accessories Type
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdPrice)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CatNameAr) - @Html.DisplayFor(modelItem => item.CatNameEn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AccessoryTitleAR)- @Html.DisplayFor(modelItem => item.AccessoryTitleEN)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AMCatNameAr) - @Html.DisplayFor(modelItem => item.AMCatNameEn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AcSNameAr) - @Html.DisplayFor(modelItem => item.ASNameEn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AdPrice)
                </td>

               
                <td>
                    @if (item.AccessoryForAll==false)
                    {
                        <a title="Edit Models" href="/AdsModels/Accessories/CrateModels?PId=@item.PId" class="btn btn-dark"><i class="ion ion-ios-settings"></i></a>
                    }

                    <a title="Edit Image" href="/AdsModels/Accessories/ProductImages?PId=@item.PId" class="btn btn-primary"><i class="ion ion-ios-images"></i></a>
                    <a title="Edit Accessories" href="/AdsModels/Accessories/Edit?PId=@item.PId" class="btn btn-warning"><i class="fa fa-pencil-alt"></i></a>
                    <a title="Delete Accessories" href="/AdsModels/Accessories/Delete?PId=@item.PId" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();

        });
    </script>
}
