﻿@model AlwakeelDomainLayer.BrandDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ 
        string err = ViewBag.Error;
        if (err!=null)
        {
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <strong> @err !</strong>
    </div>
    }
}
@using (Html.BeginForm("Create", "Brands", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BramdCountry, htmlAttributes: new { @class = "control-label " })

            @Html.EditorFor(model => model.BramdCountry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BramdCountry, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandNameAr, htmlAttributes: new { @class = "control-label " })

            @Html.EditorFor(model => model.BrandNameAr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BrandNameAr, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandNameEn, htmlAttributes: new { @class = "control-label " })

            @Html.EditorFor(model => model.BrandNameEn, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BrandNameEn, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BrandsLogo, htmlAttributes: new { @class = "control-label " })

            <input type="file" name="ImgeFile" id="ImgeFile" required>
            <img style="border:1px solid red" id="brandImg" width="60" src="" />

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatId, htmlAttributes: new { @class = "control-label " })

            <select name="CatId" id="CatId" class="form-control">
                @foreach (var item in ViewBag.Category)
                {
                    <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                }

            </select>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#brandImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ImgeFile").change(function () {

            readURL(this);

        });

    </script>
}
