﻿@model AlwakeelDomainLayer.BrandDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Brands", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit</h4>
        <hr />
        @Html.HiddenFor(model => model.BrandId)
        @Html.HiddenFor(model => model.BrandsLogo)
    
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BramdCountry, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.BramdCountry, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BramdCountry, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BrandNameAr, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.BrandNameAr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BrandNameAr, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BrandNameEn, htmlAttributes: new { @class = "control-label " })

                @Html.EditorFor(model => model.BrandNameEn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BrandNameEn, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <label class="control-label">Brands Logo <span style="color:red">*</span></label>

                <input  type="file" name="ImgeFile" id="ImgeFile">
                <img style="border:1px solid red" id="brandImg" width="60" src="@Model.BrandsLogo" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CatId, htmlAttributes: new { @class = "control-label " })

                <select name="CatId" id="CatId" class="form-control">
                    @foreach (var item in ViewBag.Category)
                {
                <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                }

                </select>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </div>
       
 
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#brandImg').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#ImgeFile").change(function () {

        readURL(this);

    });

</script>
}
