﻿@model AlwakeelDomainLayer.BlogDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea
    {

        height:20px
    }
</style>
<link href="~/assets/summernote/summernote.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Blogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.PublishBy)
    @Html.HiddenFor(model => model.blogDate)
    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.blogTitleEn, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.blogTitleEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.blogTitleEn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.blogTitleAr, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.blogTitleAr, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.blogTitleAr, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.blogBodyEn, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.blogBodyEn, new { htmlAttributes = new {  @rows = "20" } })
                   
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.blogBodyAr, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.blogBodyAr, new { htmlAttributes = new {  @rows = "20" } })
                 
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.blogIamgeUrl, htmlAttributes: new { @class = "control-label " })
                    <input type="file" id="IamgeFile" name="IamgeFile" required />
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/assets/summernote/summernote.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $('#blogBodyEn').summernote();
        $('#blogBodyAr').summernote();
    });
</script>
