﻿@model AlwakeelDomainLayer.CarModelDomain
<form id="carModel">
    <div class="form-horizontal">

        @Html.HiddenFor(model => model.ModelId)

        <div class="form-group">
            <label class="control-label">Category</label>
            <select id="CatId" name="CatId" class="chosen-select form-control">
                @foreach (var item in ViewBag.Category)
                {
                    <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label  ">Brand</label>
            <select id="BrandId" name="BrandId" class="chosen-select form-control barc" style="width:100%"></select>
        </div>

        <div class="form-group">
            <label class="control-label">Class</label>
            <select id="CarClassId" name="CarClassId" class="chosen-select form-control" style="width:100%"></select>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ModelYears, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.ModelYears, new { htmlAttributes = new { @class = "form-control", @placeholder = "2019" } })
        </div>

        <div class="form-group">
            <label class="control-label">General Specification</label>
            <select id="GeneralSpec" name="GeneralSpec" class="chosen-select form-control" style="width:100%" multiple>
                @foreach (var item in ViewBag.general)
                {
                    <option value="@item.Id">@item.NameEn - @item.NameAR</option>
                }
            </select>
        </div>


        <div class="form-group">
            <button type="submit" id="btnSubmitModel" class="btn btn-primary btn-block">
                @if (Model.ModelId > 0)
                {<span>Edit</span> }
                else
                {<span>Save</span>}
            </button>
        </div>

    </div>
</form>

<script>
    $("#btnSubmitModel").click(function () {
        $("#carModel").validate({
            rules: {
                ModelYears: "required",
                CatId: "required",
                BrandId: "required",
                CarClassId: "required",
                ModelYears: {
                    required: true,
                    number: true,
                    maxlength: 4,


                },

                CatId: {
                    required: true,
                },
                BrandId: {
                    required: true,
                },
                CarClassId: {
                    required: true,
                },
            },
            messages: {
                ModelYears: {
                    required: "Please enter Class Model Years",
                    number: "Please enter Number",
                    maxlength: "Max length 4"
                },
                CatId: {
                    required: "Please select Category",
                },
                BrandId: {
                    required: "Please select Class Brand Name ",
                },
                CarClassId: {
                    required: "Please select Class Class Name ",
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#carModel").serialize();
                $.ajax({
                    type: "POST",
                    url: "/BrandModels/CarsModels/AddOrEdit",
                    data: myformdata,
                    success: function (res) {

                        if (res == "Saved" || res == "Update") {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: res,
                                showConfirmButton: false,
                                timer: 1500
                            });

                            $("#myModal").modal("hide");
                            window.location.href = "/BrandModels/CarsModels/Index";
                        } else {

                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: res,
                                footer: '<a href>Why do I have this issue?</a>'
                            });

                        }
                       
                    }

                })
            }
        });
    });



    // On change Category
    $("#CatId").change(function () {
        $('#BrandId').empty();
        var CatId = $('#CatId').val();
        getBrand(CatId);
    });


    $("#BrandId").change(function () {
        $('#CarClassId').empty();
        var BrandId = $('#BrandId').val();
        getClass(BrandId);
    });


    //Brand
    var getBrand = function (CatId) {
        $.get("/BrandModels/CarsClass/GetBrand?CatId=" + CatId, function (data, status) {
            for (var i = 0; i < data.length; i++) {
                $('#BrandId').append('<option value="' + data[i].BrandId + '">' + data[i].BrandNameEn + '-' + data[i].BrandNameAr + '</option>');
            }
            $('#CarClassId').empty();
            var BrandId = $('#BrandId').val();
            getClass(BrandId);
        });

    };

    var getClass = function (BrandId) {

        $.get("/BrandModels/CarsModels/GetClassList?BrandId=" + BrandId, function (data, status) {
            for (var i = 0; i < data.length; i++) {
                $('#CarClassId').append('<option value="' + data[i].CarClassId + '">' + data[i].CarClassNameEn + '-' + data[i].CarClassNameAr + '</option>');
            }
        });

    };

    $("#BrandId ,#CarClassId,#GeneralSpec").select2({
        width: 'resolve'
    });

</script>
