﻿@model AlwakeelDomainLayer.MotorcycleDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        width: 100%;
    }
</style>

@using (Html.BeginForm("Create", "Motorcycles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.CatId)
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label  ">Brand</label>
                    <select id="BrandId" name="BrandId" class="chosen-select form-control barc" style="width:100%">
                        @foreach (var item in ViewBag.Brands)
                        {
                            <option value="@item.BrandId">@item.BrandNameEn - @item.BrandNameAr</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Class</label>
                    <select id="CarClassId" name="CarClassId" class="chosen-select form-control" required></select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <select id="ModelId" name="ModelId" class="chosen-select form-control" required></select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="control-label">Colors</label>
                    <select id="CColors" name="CColors" class="chosen-select form-control">
                        @foreach (var item in ViewBag.color)
                        {
                            <option value="@item.colorId">@item.colorIdNameEN - @item.colorIdNameAR</option>
                        }
                    </select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.AdPrice, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.AdPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdPrice, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.isNew, htmlAttributes: new { @class = "control-label " })

                    <div class="checkbox">
                        @Html.EditorFor(model => model.isNew)
                        @Html.ValidationMessageFor(model => model.isNew, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.CEngineCapacityCC, htmlAttributes: new { @class = "control-label " })

                    @Html.EditorFor(model => model.CEngineCapacityCC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CEngineCapacityCC, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.CMileageKM, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.CMileageKM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CMileageKM, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="form-group">
                    <label class="control-label">Model Features <span style="color:forestgreen">multi select</span></label>
                    <select id="Features" name="Features" class="chosen-select form-control" required multiple="multiple"></select>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescribeAR, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.DescribeAR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescribeAR, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescribeEN, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.DescribeEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescribeEN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">First picture</label>
                    <input id="ImageFileOne" name="ImageFileOne" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Second  Picture</label>
                    <input id="ImageFileTow" name="ImageFileTow" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Third   Picture</label>
                    <input id="ImageFilethree" name="ImageFilethree" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Fourth   Picture</label>
                    <input id="ImageFileFor" name="ImageFileFor" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Business</label>
                    <select id="businessId" name="businessId" class="chosen-select form-control">
                        @foreach (var item in ViewBag.Business)
                        {
                            <option value="@item.BusinessId">@item.BusinessNameEn - @item.BusinessNameAR</option>
                        }
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script src="~/assets/select2/dist/js/select2.full.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">

        $(document).ready(function () {
            var BrandId = $('#BrandId').val();
            getClass(BrandId);
        });


        // On change Category
        $("#BrandId").change(function () {
            $('#CarClassId').empty();
            var BrandId = $('#BrandId').val();
            getClass(BrandId);
        });
        $("#CarClassId").change(function () {
            $('#ModelId').empty();
            var carClass = $('#CarClassId').val();
            getModel(carClass);
        });



        var getClass = function (BrandId) {
            $.get("/AdsModels/Motorcycles/GetClassList?BrandId=" + BrandId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#CarClassId').append('<option value="' + data[i].CarClassId + '">' + data[i].CarClassNameEn + '-' + data[i].CarClassNameAr + '</option>');
                }
                $('#ModelId').empty();
                var carclass = $('#CarClassId').val();
                getModel(carclass);
            });
        };

        var getModel = function (carclass) {

            $.get("/AdsModels/Motorcycles/GetModel?CarClassId=" + carclass, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#ModelId').append('<option value="' + data[i].ModelId + '">' + data[i].ModelYears + '</option>');
                }
                 $("#Features").empty();
                var ModelId = $('#ModelId').val();
                getFeatures(ModelId);
            });

        };

        var getFeatures = function (ModelId) {

            $.get("/AdsModels/Vehicles/getFeatures?modelId=" + ModelId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#Features').append('<option value="' + data[i].SpeId + '">' + data[i].SpeAr + " - " + data[i].SpeEn + '</option>');
                }
            });

        };


        //file upload size limit validation in javascript
        $('#ImageFileOne').bind('change', function () {
            var imagehree = $("#ImageFileOne").val();
            Filevalidation(imagehree);

        });


        //file upload size limit validation in javascript
        $('#ImageFileTow').bind('change', function () {
            var imagehree = $("#ImageFileTow").val();
            Filevalidation(imagehree);

        });

        //file upload size limit validation in javascript
        $('#ImageFilethree').bind('change', function () {
            var imagehree = $("#ImageFilethree").val();
            Filevalidation(imagehree);

        });

        //file upload size limit validation in javascript
        $('#ImageFileFor').bind('change', function () {
            var imagehree = $("#ImageFileFor").val();
            Filevalidation(imagehree);

        });

        //file upload size limit validation in javascript
        var Filevalidation = function (fi) {
            // Check if any file is selected.
            if (fi.files.length > 0) {
                for (const i = 0; i <= fi.files.length - 1; i++) {
                    const fsize = fi.files.item(i).size;
                    const file = Math.round((fsize / 1024));
                    // The size of the file.
                    if (file >= 4096) {
                        alert(
                            "File too Big, please select a file less than 4mb");
                    } else if (file < 2048) {
                        alert(
                            "File too small, please select a file greater than 2mb");
                    } else {
                        document.getElementById('size').innerHTML = '<b>'
                            + file + '</b> KB';
                    }
                }
            }
        }



        $("#BrandId ,#CarClassId,#ModelId,#businessId,#Features").select2({

        });
    </script>
}