﻿@model IEnumerable<AlwakeelDomainLayer.ProductImageDomain>

@{
    ViewBag.Title = "ProductImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-4">
            <div class="form-group">
                <div class="row">
                    <img src="@item.ImageUrl" width="300" height="300" />
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <a href="#" style="text-align:center" class="btn btn-warning" onclick="EditImage(@item.Id)"><i class="fa fa-pencil-alt"></i></a>
                </div>
            </div>
        </div>
    }
</div>



<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Images</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>


        var EditImage = function (id) {
            var url = "/AdsModels/Motorcycles/AddEditImage?Id=" + id;

            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");

            })
        };

    </script>
}
