﻿@model AlwakeelDomainLayer.DealOfdayDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    textarea {
        width: 100%
    }
</style>

@using (Html.BeginForm("Create", "DealOfday", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-horizontal">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TitleAr, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.TitleAr, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TitleAr, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TitleEn, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.TitleEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TitleEn, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.OldPrice, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.OldPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OldPrice, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPrice, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NewPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPrice, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="col-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfDays, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.NumberOfDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfDays, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescriptionAr, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.DescriptionAr, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionAr, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescriptionEn, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.DescriptionEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescriptionEn, "", new { @class = "text-danger" })

                </div>
            </div>



            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Image One</label>
                    <input id="FileImageOne" name="FileImageOne" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Image Tow</label>
                    <input id="FileImageTow" name="FileImageTow" accept="image/x-png,image/gif,image/jpeg" type="file" required>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Image Three</label>
                    <input id="FileImageThree" name="FileImageThree" accept="image/x-png,image/gif,image/jpeg" type="file">
                </div>
            </div>


            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Business</label>
                    <select id="BusinessId" name="BusinessId" class="chosen-select form-control">
                        @foreach (var item in ViewBag.Business)
                        {
                            <option value="@item.BusinessId">@item.BusinessNameEn - @item.BusinessNameAR</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/assets/select2/dist/js/select2.full.min.js"></script>
    <script type="text/javascript">
      
         $("#BusinessId").select2({

        });
    </script>
}