﻿@model AlwakeelDomainLayer.DealOfdayDomain

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        @Html.HiddenFor(x => x.Id)
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">

                <tbody>
                    <tr>
                        <th class="text-nowrap" scope="row">Title Ar</th>
                        <td>@Html.DisplayFor(model => model.TitleAr)</td>

                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Title En</th>
                        <td>@Html.DisplayFor(model => model.TitleEn)</td>

                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">New Price</th>
                        <td>@Model.NewPrice</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Old Price</th>
                        <td>@Html.DisplayFor(model => model.OldPrice)</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Description Ar</th>
                        <td>@Html.DisplayFor(model => model.DescriptionAr)</td>
                    </tr>

                    <tr>
                        <th class="text-nowrap" scope="row">Description En</th>
                        <td>@Html.DisplayFor(model => model.DescriptionEn)</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Image One</th>
                        <td> <img src="@Model.ImageOne" width="40" height="40" /> </td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Image Tow</th>
                        <td> <img src="@Model.ImageTow" width="40" height="40" /> </td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Image Three</th>
                        <td> <img src="@Model.ImageThree" width="40" height="40" /> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

