﻿@model IEnumerable<AlwakeelDomainLayer.RentCarViweCustomerDomain>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="datatable" class="table">
    <thead>
        <tr>
            <th>Info</th>

            <th>
                @Html.DisplayNameFor(model => model.BrandsLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURl)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BrandNameEn)  -  @Html.DisplayFor(modelItem => item.CarClassNameEn)  - @Html.DisplayFor(modelItem => item.ModelYears)
                </td>

                <td>
                    <img src="@item.BrandsLogo" width="40" />
                </td>

                <td>
                    <img src="@item.ImageURl" width="40" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if ((bool)item.Available)
                    {
                        <a title="your Car is Available ,Click to Set Not Available" href="/RentCarModel/RentCars/Available?id=@item.Id" class="btn btn-outline-success waves-effect waves-light"><i class="ion ion-md-checkmark-circle"></i></a>
                    }
                    else
                    {
                        <a title="your Car is not Available ,Click to Set  Available" href="/RentCarModel/RentCars/Available?id=@item.Id" class="btn btn-outline-danger waves-effect waves-light"><i class="ion ion-md-close-circle"></i></a>
                    }

                </td>
                <td>
                    <a href="/RentCarModel/RentCars/Delete?id=@item.Id" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();

        });
    </script>
}