﻿@model AlwakeelDomainLayer.BusinessDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    textarea {
        width: 100%;
    }
</style>

@{
    string err =  ViewBag.Error;
    if (err != null)
    {
        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong> @err !</strong>
        </div>
    }
}

@using (Html.BeginForm("Create", "ManagBusiness", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessNameEn, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BusinessNameEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessNameEn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessNameAR, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BusinessNameAR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessNameAR, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessLocationAr, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BusinessLocationAr, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessLocationAr, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessLocationEn, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BusinessLocationEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessLocationEn, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessLogoFIlle, htmlAttributes: new { @class = "control-label " })
                    <input type="file" id="BusinessLogoFIlle" name="BusinessLogoFIlle" required />
                    <img style="border:1px solid red" id="LogoFIlle" width="60" src="" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessPanelImageFIlle, htmlAttributes: new { @class = "control-label " })
                    <input type="file" id="BusinessPanelImageFIlle" name="BusinessPanelImageFIlle" required />
                    <img style="border:1px solid red" id="PanelImageFIlle" width="60" src="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessAboutEn, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.BusinessAboutEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessAboutEn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessAboutAR, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.BusinessAboutAR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessAboutAR, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessType, htmlAttributes: new { @class = "control-label " })
                    <select id="BusinessType" name="BusinessType" class="form-control">
                        @foreach (var item in ViewBag.userRoles)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BusinessSpecial, htmlAttributes: new { @class = "control-label " })
                    @Html.EditorFor(model => model.BusinessSpecial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BusinessSpecial, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-12">

                <div class="form-group" id="Type">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            var BusinessType = $("#BusinessType").val();
            if (BusinessType == "Agent") {
                AddType();
            }
        });

        $("#BusinessType").change(function () {
            var BusinessType = $("#BusinessType").val();
            if (BusinessType == "Agent") {
                AddType();
            } else {
                $('#Type').empty();
            }
        });


        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PanelImageFIlle').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#BusinessPanelImageFIlle").change(function () {

            readURL(this);

        });


        function readURL2(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#LogoFIlle').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }


        $("#BusinessLogoFIlle").change(function () {

            readURL2(this);

        });

        function AddType() {

            $('#Type').append(` <label class = "control-label " >Agent Type</label>
                            <select id="AgentType" name="AgentType" class="form-control">
                                 <option value="Battery">Battery</option>
                                <option value="Oil">Oil</option>
                                <option value="Accessories">Accessories</option>
                                <option value="Spareparts">Spareparts</option>
                                <option value="Tires">Tires</option>
                            </select>`);
        }


    </script>
}