﻿@model AlwakeelDomainLayer.CityDomain

<link href="~/assets/loading.css" rel="stylesheet" />
<div class="form-horizontal">
    <form id="AddCitys">
        <div class="loading" id="loading" hidden>Loading&#8230;</div>

        @Html.HiddenFor(model => model.CityId)

        <div class="form-group">
            <label class="control-label">State</label>
            <select id="StateId" name="StateId" class="chosen-select form-control">
                @foreach (var item in ViewBag.state)
                {
                    <option value="@item.StateId">@item.StateNameEn - @item.StateNameAr</option>
                }
            </select>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CityNameAr, htmlAttributes: new { @class = "control-label " })
           
                @Html.EditorFor(model => model.CityNameAr, new { htmlAttributes = new { @class = "form-control" } })
              
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityNameEn, htmlAttributes: new { @class = "control-label " })
          
                @Html.EditorFor(model => model.CityNameEn, new { htmlAttributes = new { @class = "form-control" } })
            
          
        </div>

       

     


        <div class="form-group">
            <button type="submit" id="btnSubmitCitys" class="btn btn-primary btn-block">
                @if (Model.CityId > 0)
                {<span>Edit</span> }
                else
                {<span>Save</span>}
            </button>
        </div>

    </form>
</div>

<script>
    $("#btnSubmitCitys").click(function () {

        $("#AddCitys").validate({
            rules: {
                CityNameAr: "required",
                CityNameEn: "required",
                CityNameAr: {
                    required: true,
                },

                CityNameEn: {
                    required: true,
                }
            },
            messages: {
                CityNameAr: {
                    required: "Please enter City  Name Arabic",
                },
                CityNameEn: {
                    required: "Please enter State  Name English",
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#AddCitys").serialize();
                $.ajax({
                    type: "POST",
                    url: "/LocationsModels/Citys/AddEdit",
                    data: myformdata,
                    success: function (res) {
                        alert(res);
                        $("#myModal").modal("hide");
                        window.location.href = "/LocationsModels/Citys/Index";
                    }

                })
            }
        });
    });
</script>