﻿   <!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © 2020 Alwakeel <span class="d-none d-md-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Abdo&Oday.</span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->