﻿  <!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<div class="header-bg">
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo-->
                <div>

                    <a href="#" class="logo">
                        <img class="rounded-circle" src="~/logo-ico.jpeg" alt="" height="26">
                    </a>

                </div>
                <!-- End Logo-->

                <div class="menu-extras topbar-custom navbar p-0">

                    <ul class="list-inline d-none d-lg-block mb-0">
                        <li class="list-inline-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                Alwakeel online
                            </a>
                            @*<div class="dropdown-menu dropdown-menu-animated">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>*@
                        </li>
                        @*<li class="list-inline-item notification-list">
                    <a href="#" class="nav-link waves-effect">
                        Activity
                    </a>
                </li>*@

                    </ul>

                    <!-- Search input -->
                    <div class="search-wrap" id="search-wrap">
                        <div class="search-bar">
                            <input class="search-input" type="search" placeholder="Search" />
                            <a href="#" class="close-search toggle-search" data-target="#search-wrap">
                                <i class="mdi mdi-close-circle"></i>
                            </a>
                        </div>
                    </div>

                    <ul class="list-inline ml-auto mb-0">

                        <!-- notification

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link waves-effect toggle-search" href="#" data-target="#search-wrap">
                    <i class="mdi mdi-magnify noti-icon"></i>
                </a>
            </li>

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-bell-outline noti-icon"></i>
                    <span class="badge badge-pill noti-icon-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg dropdown-menu-animated">

                    <div class="dropdown-item noti-title">
                        <h5>Notification (3)</h5>
                    </div>

                    <div class="slimscroll-noti">

                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                            <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                        </a>


                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-danger"><i class="mdi mdi-message-text-outline"></i></div>
                            <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                        </a>


                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info"><i class="mdi mdi-filter-outline"></i></div>
                            <p class="notify-details"><b>Your item is shipped</b><span class="text-muted">It is a long established fact that a reader will</span></p>
                        </a>


                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-success"><i class="mdi mdi-message-text-outline"></i></div>
                            <p class="notify-details"><b>New Message received</b><span class="text-muted">You have 87 unread messages</span></p>
                        </a>


                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning"><i class="mdi mdi-cart-outline"></i></div>
                            <p class="notify-details"><b>Your order is placed</b><span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                        </a>

                    </div>


                   
                        <a href="javascript:void(0);" class="dropdown-item notify-all">
                            View All
                        </a>

                </div>
                </li>
                -->
                <!-- User-->
                <li class="list-inline-item dropdown notification-list nav-user">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="~/assets/images/users/avatar-6.png" alt="user" class="rounded-circle">
                        <span class="d-none d-md-inline-block ml-1">
                            @{ var Name = "";
                                if (User.Identity.IsAuthenticated)
                                {
                                    Name = User.Identity.Name;
                                }
                                @Name
                            }

                            <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                        <a class="dropdown-item" href="/BusinessModels/BusinessUsersRetPassword/Index"><i class="ion ion-md-key"></i>Rest Password</a>
                        <a class="dropdown-item" href="/Account/ChangePassword"><i class="dripicons-lock text-muted"></i>Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Account/LogOff"><i class="dripicons-exit text-muted"></i> Logout</a>
                    </div>
                </li>
                <li class="menu-item list-inline-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle nav-link">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </li>

                </ul>

            </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->
        <!-- MENU Start -->
        <div class="navbar-custom">
            <div class="container-fluid">

                <div id="navigation">

                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="/home/Index"><i class="dripicons-home"></i> Dashboard</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="has-submenu">
                                <a href="#"><i class="ti-settings mr-1"></i> Settings <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">
                                    <li class="has-submenu">
                                        <a href="#">Locations </a>
                                        <ul class="submenu">
                                            <li><a href="/LocationsModels/States/Index">State</a></li>
                                            <li><a href="/LocationsModels/Citys/Index">City</a></li>
                                            <li><a href="/LocationsModels/Regions/Index">Regions</a></li>

                                        </ul>
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">Ads </a>
                                        <ul class="submenu">
                                            <li><a href="/AdsModels/CcommercialAds/index">Slider Panle </a></li>
                                            <li><a href="/AdsModels/YouTubeVideos/Index">YouTube</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/AdsProductModels/ProductColor/Index">Product Color</a>
                                    </li>
                                    <li>
                                        <a href="/BlogsModels/Blogs/Index">Blog</a>
                                    </li>

                                </ul>
                            </li>
                        }

                        <li class="has-submenu">
                            <a href="#"><i class="ti-align-justify"></i> Business <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li><a href="/BusinessModels/ManagBusiness/Index">Business</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="/BusinessModels/BuBrand/Index">Business With Brand</a></li>

                                }

                                <li><a href="/BusinessModels/ContactsMedia/Index">Business Contact </a></li>
                                <li><a href="/BusinessModels/BusinessProducts/Index">Business Products</a></li>
                                <li><a href="/BusinessModels/SlidesShow/Index">Slides Show</a></li>
                                <li><a href="/LocationsModels/Locations/Index">Agent  Locations</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="has-submenu">
                                <a href="#"><i class="dripicons-help"></i> Brands <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="/BrandModels/Brands/Index">Brands</a>
                                    </li>
                                    <li>
                                        <a href="/BrandModels/CarsClass/Index">Classes</a>
                                    </li>
                                    <li>
                                        <a href="/BrandModels/CarsModels/Index">Model</a>
                                    </li>

                                    <li>
                                        <a href="/BrandModels/CSpecificat/Index">Model Specification</a>
                                    </li>

                                    <li>
                                        <a href="/BrandModels/GeneralSpecifications/Index">General Specifications</a>
                                    </li>

                                </ul>
                            </li>

                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="has-submenu">
                                <a href="#"><i class="fas fa-tools "></i> Accessory <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">

                                    <li class="has-submenu">
                                        <a href="#">Accessory Category</a>
                                        <ul class="submenu">
                                            <li><a href="/AccessoryCategory/MainCategores/index">Main Category</a></li>
                                            <li><a href="/AccessoryCategory/SubCategores/Index">Sub Category</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>

                        }

                        <li class="has-submenu">
                            <a href="#"><i class="fas fa-cart-arrow-down "></i>Orders<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                            <ul class="submenu">
                                <li>
                                    <a href="/BusinessModels/BayNowRequests/New">New</a>
                                </li>
                                <li>
                                    <a href="/BusinessModels/BayNowRequests/Done">Done</a>
                                </li>

                            </ul>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Company") || User.IsInRole("Rent Car") || User.IsInRole("CarShowrooms"))
                        {
                            <li class="has-submenu">
                                <a href="#"><i class="fas fa-car"></i> Rent Cars <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="/RentCarModel/RentCars/Index">My Cars</a>
                                    </li>
                                    <li>
                                        <a href="/RentCarModel/NewOrders/Index">New Ordes</a>
                                    </li>
                                    <li>
                                        <a href="/RentCarModel/NewOrders/OldOrders">Old Ordes</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (!User.IsInRole("Rent Car") && !User.IsInRole("Bank") && !User.IsInRole("Insurance "))
                        {
                            <li class="has-submenu">
                                <a href="#"><i class="fas fa-cart-plus"></i>Sell Products <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Company") || User.IsInRole("CarShowrooms"))
                                    {
                                        <li><a href="/AdsModels/Vehicles/index">Vehicles</a></li>
                                        <li><a href="/AdsModels/Motorcycles/index">Motorcycles</a></li>

                                    }
                                    @if (User.IsInRole("Admin") || User.IsInRole("Company") || User.IsInRole("Agent") || User.IsInRole("Agent"))
                                    {
                                        <li><a href="/AdsModels/Accessories/index">Accessories</a></li>
                                    }

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a href="/AdsModels/DealOfday">Deal Of Day</a></li>
                                    }

                                </ul>
                            </li>
                        }

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="has-submenu">
                                    <a href="#"><i class="fas fa-user-cog"></i> Customer<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">Customer Products </a>
                                            <ul class="submenu">
                                                <li><a href="/CustomerProductsModels/ProductsMnagement/Index">New Products</a></li>
                                                <li><a href="/CustomerProductsModels/ProductsMnagement/ActiveProducts">Active Products</a></li>
                                                <li><a href="/CustomerProductsModels/ProductsMnagement/SoldProducts">Sold Products</a></li>

                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#"> Rent Cars</a>
                                            <ul class="submenu">
                                                <li><a href="/CustomerProductsModels/CustomerRentCars/Index">Cars</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-submenu">
                                            <a href="#">Customer List</a>
                                            <ul class="submenu">
                                                <li><a href="/CustomerProductsModels/CustomerList/Index">CustomerList</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->

</div>
<!-- header-bg -->