﻿@model AlwakeelDomainLayer.StateDomain
<link href="~/assets/loading.css" rel="stylesheet" />
<div class="form-horizontal">
    <form id="AddState">
        <div class="loading" id="loading" hidden>Loading&#8230;</div>

        @Html.HiddenFor(model => model.StateId)

        <div class="form-group">
            @Html.LabelFor(model => model.StateNameAr, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.StateNameAr, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateNameEn, htmlAttributes: new { @class = "control-label " })
            @Html.EditorFor(model => model.StateNameEn, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <button type="submit" id="btnSubmitState" class="btn btn-primary btn-block">
                @if (Model.StateId > 0)
                {<span>Edit</span> }
                else
                {<span>Save</span>}
            </button>
        </div>
    </form>
</div>


<script>
    $("#btnSubmitState").click(function () {

        $("#AddState").validate({
            rules: {
                StateNameAr: "required",
                StateNameEn: "required",
                StateNameAr: {
                    required: true,
                },

                StateNameEn: {
                    required: true,
                }
            },
            messages: {
                StateNameAr: {
                    required: "Please enter State  Name Arabic",
                },
                StateNameEn: {
                    required: "Please enter State  Name English",
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#AddState").serialize();
                $.ajax({
                    type: "POST",
                    url: "/LocationsModels/States/AddEdit",
                    data: myformdata,
                    success: function (res) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: "Saved",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $("#myModal").modal("hide");
                        window.location.href = "/LocationsModels/States/Index";
                    }

                })
            }
        });
    });
</script>
