﻿@model IEnumerable<AlwakeelDomainLayer.CarModelDomainViews>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="datatable" class="table">
    <thead>
        <tr>

            <th>
                Category
            </th>


            <th>
                Brand
            </th>

            <th>
                Class
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModelYears)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>



                <td>
                    @Html.DisplayFor(modelItem => item.CategoryNameEn) - @Html.DisplayFor(modelItem => item.CategoryNameAr)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BrandNameEn) - @Html.DisplayFor(modelItem => item.BrandNameAr)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.CarClassNameEn) - @Html.DisplayFor(modelItem => item.CarClassNameAr)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ModelYears)
                </td>
                <td>

                    <a href="/BrandModels/CSpecificat/Create?ModelId=@item.ModelId" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();

        });
    </script>
}

