﻿@model AlwakeelAdminPanel.Models.SetPasswordViewModel

@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="col-xs-12">
        @{
            string mss = ViewBag.msg;
            if (mss != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>@mss</strong>
                </div>
            }

        }


        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-xs-12">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.UserId)
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })

                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Set Password" class="btn btn-info" />
                        <input type="reset" value="Clear" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

}

