﻿@model AlwakeelDomainLayer.VehicleCustomModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.HiddenFor(x => x.PId)
        Vehicle Info : @Html.DisplayFor(model => model.Category)  -  @Html.DisplayFor(model => model.VehicleInfoEn)
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">

                <tbody>
                    <tr>
                        <th class="text-nowrap" scope="row">Engine</th>
                        <td>@Html.DisplayFor(model => model.EngineCapacityCC)</td>

                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Transmission</th>
                        <td><code>@Html.DisplayFor(model => model.CTransmission)</code></td>

                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Mileage KM</th>
                        <td colspan="5">@Html.DisplayFor(model => model.MileageKM)</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Color</th>
                        <td colspan="5">@Html.DisplayFor(model => model.ColorNameEn)</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Price</th>
                        <td colspan="5">@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">@Html.DisplayNameFor(model => model.ColorImage)</th>
                        <td colspan="5">@Html.DisplayFor(model => model.ColorNameEn)  </td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" scope="row">Business</th>
                        <td>@Html.DisplayFor(model => model.BusinessName)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12">
        <h6>Features</h6>
    </div>

    <div class="col-lg-12">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Icon
                    </th>

                    <th>#</th>
                </tr>
            </thead>
            <tbody id="feature">
              

            </tbody>
        </table>
    </div>
    <div class="col-lg-12">
        <h6>Images</h6>
    </div>

    <div class="col-lg-12">
        <div class="row" id="Images">

        </div>

    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var PId = $('#PId').val();
            getProductImage(PId);
            getFeatures(PId);
        });
        function getProductImage(PId) {
            $.get("/AdsModels/Vehicles/getProductImage?PId=" + PId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#Images').append(` <div class="col-lg-3"> <img  width="200" src="${data[i].ImageUrl}" /></div> `);
                }
            });
        };

        function getFeatures(PId) {
            $.get("/AdsModels/Vehicles/getFeature?PId=" + PId, function (data, status) {
                var trHTML = '';
                $.each(data, function (i, item) {
                    trHTML += `  <tr>
                    <td>${item.SpeEn} - ${item.SpeAr}</td>
                    <td><img src="${item.Icons}" width="40" /></td>
                    <td>
                        <a href="#" onclick="deleteFeatures(${item.FId})" class="btn btn-danger"><i class="fas fa-trash "></i></a>
                    </td>
                </tr>`;
                });
                $('#feature').append(trHTML);
            });
        };


        function deleteFeatures(FId) {
            debugger
            $.post("/AdsModels/Vehicles/DeleteFeatures?FId=" + FId, function (data, status) {
                $('#feature').empty();
                var PId = $('#PId').val();
                getFeatures(PId);
            });
        };

    </script>
}