﻿@model AlwakeelDomainLayer.PVehicleDomain

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        width: 100%;
    }

    select {
        font-size: 13px;
    }
</style>

@using (Html.BeginForm("Edit", "Vehicles", FormMethod.Post))
{
    @Html.HiddenFor(model => model.PId)
    <div class="form-horizontal">
        <h6>Brand Info</h6>
        <hr />
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select id="CatId" name="CatId" class="chosen-select form-control">
                        @foreach (var item in ViewBag.Category)
                        {
                            <option value="@item.CatId">@item.NameEn - @item.NameAr</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="form-group">
                    <label class="control-label  ">Brand</label>
                    <select id="BrandId" name="BrandId" class="chosen-select form-control barc" required></select>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Class</label>
                    <select id="CarClassId" name="CarClassId" class="chosen-select form-control" required></select>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Model</label>
                    <select id="ModelId" name="ModelId" class="chosen-select form-control" required></select>
                </div>
            </div>

        </div>

        <h6>Price </h6>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AdPrice, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.AdPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.isNew, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.isNew)
                            @Html.ValidationMessageFor(model => model.isNew, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="form-group">
                    <label class="control-label">Colors</label>
                    <select id="CColors" name="CColors" class="chosen-select form-control">
                        @foreach (var item in ViewBag.color)
                        {
                            <option value="@item.colorId">@item.colorIdNameEN - @item.colorIdNameAR</option>
                        }
                    </select>
                </div>
            </div>

        </div>

        <h6>Features Info</h6>
        <hr />
        <div class="row">

            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EndDate, "{0:dd/MM/yyyy}",new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CEngineCapacityCC, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CEngineCapacityCC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CEngineCapacityCC, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.CMileageKM, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CMileageKM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CMileageKM, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>


        <h6>Describe Info</h6>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescribeEN, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.DescribeEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescribeEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescribeAR, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.DescribeAR, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescribeAR, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">Business</label>
                        <select id="businessId" name="businessId" class="chosen-select form-control">
                            @foreach (var item in ViewBag.Business)
                            {
                                <option value="@item.BusinessId">@item.BusinessNameEn - @item.BusinessNameAR</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<script src="~/assets/select2/dist/js/select2.full.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">

        $(document).ready(function () {
            var catId = $('#CatId').val();
            getBrand(catId);
        });

        // On change Category
        $("#CatId").change(function () {
            $('#BrandId').empty();
            var CatId = $('#CatId').val();
            getBrand(CatId);
        });
        $("#BrandId").change(function () {
            $('#CarClassId').empty();
            var BrandId = $('#BrandId').val();
            getClass(BrandId);
        });
        $("#CarClassId").change(function () {
            $('#ModelId').empty();
            var carClass = $('#CarClassId').val();
            getModel(carClass);
        });




        function getBrand(catId) {
            $.get("/AdsModels/Vehicles/GetBrandList?CatId=" + catId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#BrandId').append('<option value="' + data[i].BrandId + '">' + data[i].BrandNameEn + '-' + data[i].BrandNameAr + '</option>');
                }

                $('#CarClassId').empty();
                var BrandId = $('#BrandId').val();
                getClass(BrandId);
            });
        };

        var getClass = function (BrandId) {

            $.get("/AdsModels/Vehicles/GetClassList?BrandId=" + BrandId, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#CarClassId').append('<option value="' + data[i].CarClassId + '">' + data[i].CarClassNameEn + '-' + data[i].CarClassNameAr + '</option>');
                }
                $('#ModelId').empty();
                var carclass = $('#CarClassId').val();
                getModel(carclass);
            });

        };

        var getModel = function (carclass) {

            $.get("/AdsModels/Vehicles/GetModel?CarClassId=" + carclass, function (data, status) {
                for (var i = 0; i < data.length; i++) {
                    $('#ModelId').append('<option value="' + data[i].ModelId + '">' + data[i].ModelYears + '</option>');
                }

                $("#Features").empty();
                var ModelId = $('#ModelId').val();
               
            });

        };

      

       


        $("#BrandId ,#CarClassId,#CatId,#ModelId,#businessId,#Features").select2({

        });

       
    </script>
}
